# Dependencies
node_modules/

# System files
.DS_Store

# Environment files
.env
.env.local
apps/n8n/.env
apps/n8n/*.env

# Ignore build outputs
dist/
dist-ssr/

# BUT keep the n8n folder tracked
!apps/
!apps/n8n/
!apps/n8n/*

